body{
    background: rgb(49, 179, 173);
    font: normal 16pt Sans-serif;

}

header{
    color: white;
    text-align: center;
    

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);

}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}

div{
    text-align: center;
    border-radius: 10px;
}